@model ProjeCv.Models.Class1
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>AWARDS</th>
            <th>DELETE</th>
            <th>UPDATE</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.awards)
        {
            <tr>
                <th>@x.Id</th>
                <td>@x.Award</td>
                <td><a href="/Awards/Delete/@x.Id" class="btn btn-danger" onclick="return confirm('Are u sure to delete this award?')">Delete</a></td>
                <td><a href="/Awards/List/@x.Id" class="btn btn-success">Update</a></td>
            </tr>
        }
    </tbody>
</table>

<a href="/Awards/Ekle" class="btn btn-dark">Add new Award</a>

